body {
  background-color: black;
}

h2 {
  color: aqua;
  text-align: center;
  font-family: Verdana;
}

h3 {
  color: azure;
  font-family: Verdana;
}

label {
  color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.container-box {
  width: calc(50% - 10px);
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid white;
}

#lineChart,
#barChart,
#areaLineChart {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 52, 124, 0.4976584383753502) 16%,
    rgba(0, 0, 0, 1) 100%
  );
}
