body {
  background-color: black;
}

h2 {
  color: aqua;
  text-align: center;
  font-family: Verdana;
}

h3 {
  color: azure;
  font-family: Verdana;
}

/* TODO: stop grid from expanding on startup */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
}

.grid-item {
  border: 1px solid#f2f2f2;
  text-align: center;
  width: 99%;
  height: 100%;
}

#lineChart,
#barChart,
#areaLineChart {
  position: relative;
  height: inherit;
  width: inherit;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 52, 124, 0.4976584383753502) 16%,
    rgba(0, 0, 0, 1) 100%
  );
}
